USE [master]
GO
/****** Object:  Database [DbCvEntity]    Script Date: 22.12.2022 00:17:02 ******/
CREATE DATABASE [DbCvEntity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCvEntity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbCvEntity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCvEntity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DbCvEntity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCvEntity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCvEntity]
GO
/****** Object:  Table [dbo].[TBLADMİN]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMİN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICIAD] [varchar](20) NULL,
	[SIFRE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLADRES]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADRES](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Telefon] [varchar](20) NULL,
	[Mail] [varchar](20) NULL,
	[Adres] [varchar](50) NULL,
	[Konum] [varchar](200) NULL,
 CONSTRAINT [PK_TBLADRES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCALISMALARIM]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCALISMALARIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [varchar](100) NULL,
 CONSTRAINT [PK_TBLCALISMALARIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMDA]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bilgiler] [varchar](500) NULL,
	[Egitim] [varchar](500) NULL,
	[İsDeneyimleri] [varchar](500) NULL,
 CONSTRAINT [PK_TBLHAKKIMDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLILETISIM]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILETISIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [varchar](50) NULL,
	[Konu] [varchar](50) NULL,
	[Mail] [varchar](30) NULL,
	[Mesaj] [varchar](500) NULL,
 CONSTRAINT [PK_TBLILETİSİM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYETENEKLER]    Script Date: 22.12.2022 00:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYETENEKLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Yetenek] [varchar](50) NULL,
	[Derece] [tinyint] NULL,
 CONSTRAINT [PK_TBLYETENEKLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLADMİN] ON 

INSERT [dbo].[TBLADMİN] ([ID], [KULLANICIAD], [SIFRE]) VALUES (1, N'aloglu', N'oa123')
SET IDENTITY_INSERT [dbo].[TBLADMİN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] ON 

INSERT [dbo].[TBLHAKKIMDA] ([ID], [Bilgiler], [Egitim], [İsDeneyimleri]) VALUES (1, N'Özhan Aloğlu', N'Malatya, Mahmut Çalık Anadolu Lisesinde eğitimimi tamamladım.Üniversite Eğitimini Gebze Teknik Üniversitesi Harita Mühendisliği bölümünde tamamladıktan sonra Smart Pro Akademide Web Mobil Geliştirme eğitimi almaya başladım.', N'2022 senesinde Gebze Teknik Üniversitesi Harita Mühendisliği bölümünden mezun oldum. Yazılıma olan ilgimden dolayı  Web ve Mobil programlama kursu almaya başladım. Bu projeyi yaparken eğitimime devam ediyorum ve kendimi
bu alanda çok geliştirmek istiyorum.')
SET IDENTITY_INSERT [dbo].[TBLHAKKIMDA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLILETISIM] ON 

INSERT [dbo].[TBLILETISIM] ([ID], [AdSoyad], [Konu], [Mail], [Mesaj]) VALUES (1, N'Murat Yücedağ', N'İş Teklifi', N'muratyucedag@hotmail.com', N'Merhaba size iş  teklifimiz var. Mailime geri dönüş yapar mısınız ?')
SET IDENTITY_INSERT [dbo].[TBLILETISIM] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] ON 

INSERT [dbo].[TBLYETENEKLER] ([ID], [Yetenek], [Derece]) VALUES (1, N'C# ile Backend', 70)
INSERT [dbo].[TBLYETENEKLER] ([ID], [Yetenek], [Derece]) VALUES (2, N'SQL ile VTYS', 80)
INSERT [dbo].[TBLYETENEKLER] ([ID], [Yetenek], [Derece]) VALUES (3, N'Asp.Net MVC', 85)
SET IDENTITY_INSERT [dbo].[TBLYETENEKLER] OFF
GO
USE [master]
GO
